<div class="container">
    <ng-template [ngIf]="gotOrder == true">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-8 col-xl-6">
                <div class="card border-top border-bottom border-3" style="border-color: #000000 !important;">
                  <div class="row bg-transparent ">
                      <div class="col">
                          <h3 class="text-center bg-warning border-bottom border-rounded-top text-white font-weight-bold" style="border-color: #000000 !important;">Stiže za: {{mins}}{{secs}}</h3>       
                      </div> 
                  </div>
                  <div class="card-body p-5">
                      
                    <p class="lead fw-bold mb-5 font-weight-bold" style="color: #df4759;">Detalji vaše porudžbine:</p>
        
                    <div class="row">
                      <div class="col mb-3">
                          <div class="row">
                              <div class="col mb-3">
                                  <p class="small text-muted mb-1 font-weight-bold">Poručeno:</p>
                                  <p>{{deliverersCurrentOrder.createdAt | date:'medium'}}</p>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col mb-3">
                                  <p class="small text-muted mb-1">Stiže za:</p>
                                  <p>{{mins}}{{secs}}</p>
                              </div>
                          </div> -->
                      </div>
                      <div class="col mb-3">
                        <p class="small text-muted mb-1 font-weight-bold">Id porudžbine:</p>
                        <p>{{deliverersCurrentOrder.id}}</p>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col mb-12">
                          <p class="small text-muted mb-1 font-weight-bold">Komentar:</p>
                          <p>{{deliverersCurrentOrder.comment}}</p>
                      </div>
                    </div>
        
                    <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                      <div class="row" *ngFor="let p of deliverersCurrentOrder.products">
                        <div class="col-md-8 col-lg-9">
                          <p>{{p.name}}</p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                          <p>{{p.price}}RSD</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-lg-9">
                          <p class="mb-0">Dostava:</p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                          <p class="mb-0">200RSD</p>
                        </div>
                      </div>
                    </div>
        
                    <div class="row my-4">
                      <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                        <p class="lead fw-bold mb-0 font-weight-bold" style="color: #df4759;">Total: {{totalPriceWithDelivery}}RSD</p>
                      </div>
                    </div>
        
                    <p class="lead fw-bold mb-4 pb-2" style="color: #df4759;">Praćenje porudžbine</p>
        
                    <div class="row">
                      <div class="col-lg-12">
        
                        <div class="horizontal-timeline">
        
                          <ul class="list-inline items d-flex justify-content-between">
                            <li class="list-inline-item items-list">
                              <p class="py-1 px-2 rounded text-white bg-success" >Poručeno</p>
                            </li>
                            <li class="list-inline-item items-list">
                              <p class="py-1 px-2 rounded text-white bg-success">Spremljeno</p>
                            </li>
                            <li class="list-inline-item items-list">
                                <p class="py-1 px-2 rounded text-white bg-success" >Preuzeto </p>
                            </li>
                            <li class="list-inline-item items-list text-end notDone" style="margin-right: 8px;">
                                <p class="py-1 px-2 rounded text-white bg-warning" style="margin-right: -8px;">Dostavljeno</p>
                            </li>
                          </ul>
        
                        </div>
        
                      </div>
                    </div>
        
                    <p class="mt-4 pt-2 mb-0">Imate primedbu? <a href="#!" style="color: #df4759;">Molimo Vas, kontaktirajte nas.</a></p>
        
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-block btn-danger" (click)="finishDelivery()"> Potvrdi izvršenje dostave </button>
                        </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
    </ng-template>
    <ng-template [ngIf]="gotOrder == false">
        <div class="container py-5 bg-color2 text-center mt-5 mb-5 border border-dark rounded">
            <h3>Nemate preuzetih dostava.</h3>
        </div>
    </ng-template>
    
</div>

