<div class="container mb-2 mt-2 d-flex justify-content-end">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body border rounded-3 border border-dark rounded">
              <h6 class="mb-2 text-danger">Lozinka</h6>
    <form  class="mt-2 mb-2 " [formGroup]="updatePasswordForm">
      <div class="row gutters">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <label for="oldPassword">Stara lozinka</label>
              <input type="text" class="form-control" id="oldPassword" placeholder="" formControlName="oldPassword">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <label for="newPassword">Nova lozinka</label>
              <input type="text" class="form-control" id="newPassword" placeholder="" formControlName="newPassword">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
            <div class="form-group">
              <label for="confirmedPassword">Potvrdite novu lozinku</label>
              <input type="text" class="form-control" id="confirmedPassword" placeholder="" formControlName="confirmedPassword">
            </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button type="button" id="submit" name="submit" class="btn btn-danger btn-block" (click)="onSubmit()">Ažuriraj lozinku</button>      
          </div>
        </div>
      </div>
    </form>
</div>
</div>
</div>
</div>
